:root {
  --header-padding: 0 4rem;
  --grey-text-color: rgb(112, 112, 112);
  --red-color: rgb(255, 88, 88);
}

main {
    color: var(--grey-text-color);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: black;
}
a {
    text-decoration: none;
    color: inherit;
}
form {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    margin: 3rem auto;
}

form input {
    background-color: transparent;
    padding: 20px;
    width: 20rem;
    margin: 0.7rem;
    color: inherit;
    border: 1px solid #dbdbdb;
}

form input[type="date"]:before {
    content: attr(placeholder) !important;
    /* margin-right: ; */
}

form input[type="date"]:focus:before, 
form input[type="date"]:valid:before {
    content: '';
}

form input[type="checkbox"] {
    margin: 0;
    margin-top: 3rem;
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--red-color);
    appearance: none;
    padding: 0;
}

.login, .join-now {
    width: 11rem;
    height: 3rem;
    border-radius: 15px;
    display: block;
    border: none;
    margin: 1rem auto;
    font-size: 1rem;
}

.join-now {
    background-color: var(--red-color);
    color: rgb(255, 255, 255);
}

.login {
    background-color: transparent;
}