:root {
  --header-padding: 0 4rem;
  --grey-text-color: rgb(112, 112, 112);
  --red-color: rgb(255, 88, 88);
}

body {
  background-color: #ffffff;
}

main {
  color: var(--grey-text-color);
  text-align: center;
  /* background-color: rgb(255, 255, 255); */
}

.reg-log-heading {
  color: black;
  margin-bottom: 3rem;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: inherit;
}
form {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  margin: 3rem auto 2rem auto;
}

form input {
  background-color: transparent;
  padding: 20px;
  width: 20rem;
  margin: 0.7rem;
  color: inherit;
  border: 1px solid #dbdbdb;
}

form input:focus {
  outline: 1px solid #686767;
}

form input[type="date"] {
  margin-bottom: 3rem;
}

form input[type="date"]:before {
  content: attr(placeholder) !important;
  /* margin-right: ; */
}

form input[type="date"]:focus:before,
form input[type="date"]:valid:before {
  content: "";
}

form input[type="checkbox"] {
  margin: 0;
  margin-right: 1rem;
  /* margin-top: 3rem; */
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
  appearance: none;
  padding: 0;
  border: 1px solid #dbdbdb;
}

form input[type="checkbox"]:focus {
  outline: none;
}

form input[type="checkbox"]:checked {
  background-color: var(--red-color);
}

.checkbox {
  display: flex;
  position: relative;
  left: 63px;
}

label[for="terms"] {
  text-align: left;
}

.encrypt-info {
  display: flex;
  left: -46px;
  position: relative;
  align-items: center;
}

.lock-icon {
  fill: rgb(0, 147, 0);
  margin-right: 1rem;
  transform: scale(1.3);

  /* background-color: rgb(255, 88, 88); */
}

.login,
.join-now {
  width: 11rem;
  height: 3rem;
  border-radius: 15px;
  display: block;
  border: none;
  margin: 1rem auto;
  font-size: 1rem;
  padding: 0;
  font-weight: inherit;
}

.join-now:focus,
.login:focus {
  outline: none;
}

.join-now:hover, .login:hover {
    background-color: rgb(223, 54, 54);
}

.join-now:active,
.login:active {
  background-color: var(--red-color);
}

.join-now {
  background-color: var(--red-color);
  color: rgb(255, 255, 255);
}

.login {
  background-color: transparent;
  color: rgb(255, 88, 88);
  margin-top: 0;
}

.login:hover, .login:active {
    color: #ffffff;
}

.login-page { /* Login HTML page */
  background-color: var(--red-color);
  color: #ffffff;
  margin-top: 3rem;
}

.log-heading {
  margin-bottom: 8rem;
}