* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --header-padding: 0 4rem;
}

p, h2, h2 {
  line-height: 1.5;
}

.content {
  padding-top: 60px;
}

body {
  background-color: rgb(242, 242, 242);
  margin: 0;
  text-align: center;
}

main {
  padding:0 4rem;
  padding-bottom: 20rem;
}


header {
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(255, 255, 255) solid;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  padding-top: 2rem;
}

.topmost-bar {
  position: relative;
  vertical-align: middle;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: 'empty search-bar nav-icon';
  align-items: center;
}

.search-bar {
  height: 49px;
  width: 552px;
  max-width: 42rem;
  border-radius: 25px;
  border-color: rgb(112, 112,112);
  border-width: 1px;
  padding: 1rem;
  grid-area: search-bar;
  justify-self: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(255, 255, 255) solid;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}

#nav-icon {
  /* color: transparent; */
  background-color: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  appearance: none;
  position: absolute;
  right: 0;
  /* margin: auto 0; */
  grid-area: nav-icon;
}

h1 {
  color: rgb(255, 88, 88);
}

a {
  text-decoration: none;
}

#nav-icon hr {
  border: solid;
  border-width: 1.5px;
  color: rgb(112, 112, 112);

}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: var(--header-padding);
}

#nav-list {
  border-top: 0.2px solid rgb(112, 112, 112);
  color: rgb(112, 112, 112);
}

/************* Intro  *************/
#intro {
  /* padding: 0 10%; */
  /* width: 70%; */
  margin: 3rem 0;
  
}

.intro-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.intro-text h4 {
  font-size: 0.5rem;
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24rem;
}

.carousel {
  margin-left: 3rem;
  width: 60%;
}

.carousel-indicators {
  list-style: none;
  display: flex;
  position: absolute;

  /* justify-content: space-between; */
}

.carousel-indicators li {
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(112, 112, 112, 0.301);
  z-index: -100;
}

.carousel-control img { 
  width: 20px;
}

.carousel-indicators li.active {
  background-color: rgb(255, 88, 88);
}

.item.active {
  display: block;
}


.item img {
  width: 100%;
}

.item {
  display: none;
  /* max-width: 650px; */
}

.btn {
  background-color: rgb(255, 88, 88);
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}

.order-btn {
  width: 11rem;
  height: 3rem;
  border-radius: 15px;
}

/************* Product  *************/
#products {
  padding: var(--header-padding);
  margin: 6rem 0;
}

.product-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5.3rem;
  padding: 0;
  height: 32rem;
 
}

.product-item {
  /* width: 100%; */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.product-item img {
  width: 100%;
}

.brand-id {
  width: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-id img {
  width: 3rem;
  z-index: -100;
}

#dell .brand-id img {
  position: relative;
  left: -5px;
}

#levi .brand-id img {
  width: 5rem;
  position: relative;
  left: -19px;
}

.brand-id h3 {
  font-size: 0.8rem;
  color: rgb(112, 112, 112);;
}

.product-list li:last-of-type h3 {
  padding-top: 1rem;
}

/* .product-item span h3 {
  font-size: 0.9rem;
} */

.hidden {
  display: none;
}
.product-item h2, .product-item h3 {
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

.product-illustration {
  margin-top: 20px;
}

.special-offer {
  color: rgb(255, 88, 88);
}





/************* User access  *************/

#user-access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18rem;
  grid-template-areas: 'login register';
  padding: 0 2.5rem;
}



#user-access h2 {
  text-align: left;
  font-size: 1.9rem;
  color: rgb(255, 88, 88);

}

.login {
  grid-area: login;
}

.register {
  grid-area: register;
}

#user-access .btn {
  width: 13rem;
  height: 4rem;
  border-radius: 15px;

}

.privacy {
  position: absolute;
  right: 0;
}

footer {
  padding:3rem 4rem;
  background-color: rgb(255, 88, 88);
  color: #ffffff;
  /* text-align: center; */
}

.contact {
  position: absolute;
  right: 0;
  top: 0;
}

.footer-nav {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  /* text-align: center; */
}

.footer-nav:first-of-type {
  margin-bottom: 4rem;
}

.footer-nav .more {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.copywright {
  display: flex;
  justify-content: space-between;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.footer-nav ul  li {
  margin-left: 3rem;
}