@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

:root {
  --header-padding: 0 4rem;
  --grey-text-color: #707070;
  --red-color: #BA0C2E;
  --shadow-color: rgba(0, 0, 0, 0.164);
}


p,
h2 {
  line-height: 1.5;
}

.content {
  padding-top: 60px;
}

body {
  background-color: rgb(242, 242, 242);
  margin: 0;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

main {
  padding: 3rem 0;
  padding-bottom: 8rem;
  overflow: hidden;
}

button {
  cursor: pointer;
}

section {
  width: 42.5rem;
  margin: 0 auto;
}

/*******************************/ 
/************Header*************/
/*******************************/

header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 2px var(--shadow-color);
  padding-top: 1.2rem;
  position: relative;
}

.topmost-bar {
  padding: 0 8rem;
  display: grid;
  grid-template-columns: 1fr 28rem 1fr;
  grid-template-areas: "empty search-bar nav-icon";
  align-items: center;
}

.search-bar {
  height: 1.9rem;
  width: 100%;
  max-width: 42rem;
  border: 1px solid #70707085;
  border-radius: 25px;
  padding-left: 1rem;
  justify-self: center;
}

.topmost-bar form {
  grid-area: search-bar;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 3px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 100%;
}

.search-icon svg {
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16); */
}

#nav-icon {
  background-color: transparent;
  border: 0;
  width: 1.5rem;
  height: 1.1rem;
  appearance: none;
  grid-area: nav-icon;
  justify-self: end;
  padding: 0;
  z-index: 500;
  color: var(--grey-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: var(--red-color);
  margin: 1rem 0;
  font-weight: 700;
  display: inline-block;
}

a {
  text-decoration: none;
}

#nav-icon hr {
  border: solid;
  border-width: 0.5px;
  margin: 0;
  width: 100%;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 1.7rem;
  margin: 0;
}

#nav-list {
  border-top: 0.2px solid #dbdbdb;
  color: var(--grey-text-color);
  z-index: 500;
  box-shadow: 0 3px 2px var(--shadow-color);
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16); */

}

.main-nav-list li {
  height: 2.7rem;
  width: 14%;
}

.main-nav-list li:hover {
  border-bottom: 3px solid #dbdbdb;
}

.main-nav-list li a {
  color: var(--grey-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
}

#progress {
  background-color: var(--red-color);
  margin: 20px 0 0 0;
  height: 4px;
  position: absolute;
  bottom: -1px;
}

#progress.done {
  display: none;
}

/*******************************/ 
/************Side Nav*************/
/*******************************/
.side-nav {
  width: 0;
  overflow-x: hidden;
  height: 20rem;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: start;
  text-align: left;
  right: -0.5rem;
  top: -0.5px;
  z-index: 1000;
  transition: 0.2s;
}

.side-nav span {
  overflow-x: hidden;
  width: 100%;
}

.display-nav {
  width: 15rem;
  padding: 1rem 1.1rem;
  border: 0.2px solid #dbdbdb;
  /* overflow-x: visible; */
}

.side-nav a {
  margin: 1rem 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--grey-text-color);
}

.side-nav a:hover {
  /* color: var(--red-color); */
  text-decoration: underline;
}

a.side-nav__register:hover, 
a.side-nav__login:hover,
a.side-nav__myaccount:hover,
a.close-account-nav:hover {
  text-decoration: none;
}

a.side-nav__register, a.side-nav__login {
  padding: 0 1.3rem;
  width: 100%;
  height: 3rem;
  border-radius: 6px;
  /* text-align: center; */
  justify-content: center;
  font-weight: 600;
}

a.side-nav__register {
  color: #ffffff;
  background-color: var(--red-color);
}

/* a.side-nav__register:hover, .mobile-nav__register:hover {
  background-color: #660f20;
}

a.side-nav__login:hover, div a.mobile-nav__login:hover {
  color: #ffffff;
  background-color: var(--red-color);
} */

a.side-nav__login {
  border: 1px solid var(--red-color);
  color: var(--red-color);
}

.side-nav__myaccount {
  display: flex;
    justify-content: space-between;
}

a.side-nav__myaccount svg {
  height: 70%;
}

button.close-nav-btn {
  background-color: #ffffff;
  border: none;
  position: relative;
  right: -10.9rem;
  top: 0;
  color: var(--grey-text-color);
  transition: 0.5s;
}

button.close-nav-btn svg {
  width: 1.5rem;
}

.my-account-nav {
  display: none;
}

.open-account-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(16px);
  padding-left: 0;
  list-style: none;
}

.open-account-nav a {
  margin: 0;
}

.my-account-nav a:first-child {
  position: relative;
  display: flex;
  align-items: center;
}

.close-account-nav svg {
  width: 12px;
  transform: rotate(180deg);
  position: absolute;
  left: -18px;
}

/* .green-check {
  color: rgb(0, 147, 0);
  width: 18px;
  margin-left: 6px;
} */

#overlay {
  height: 100%;
  width: 100%;
  z-index: 400;
  transition: 0.5s;
  background-color: rgba(112, 112, 112, 0.055);
}

.mobile-nav {
  display: none;
  position: fixed;
  right: 0;
  width: 17rem;
  background-color: #ffffff;
  text-align: left;
  padding: 1rem;
  height: 100vh;
  z-index: 1000;
}

.mobile-nav svg{
  width: 12px;
}

.mobile-nav div:first-of-type {
  display: flex;
  justify-content: space-between;
}

.mobile-nav__register, .mobile-nav__login {
  width: 7.2rem;
  height: 2.7rem;
  display: inline-block;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.mobile-nav__login {
  background-color: transparent;
  border: 1px solid var(--red-color);
  color: var(--red-color);
}

.mobile-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem 0;
}

.mobile-nav ul li {
  margin: 1rem 0;  
}

.mobile-nav a {
  color: var(--red-color);
}

a.mobile-nav__register {
  background-color: var(--red-color);
  color: #ffffff;
}

.mobile-nav a:hover {
  color: rgb(223, 54, 54);
}

.mobile-nav__myaccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-my-account-nav {
    display: flex;
    flex-direction: column;
    left: 21px;
    position: relative;
}

.mobile-nav .mobile-my-account-nav li {
  margin: 0.5rem 0;
}

/*******************************/ 
/************order*************/
/*******************************/
#order {
  background-color: #f2f2f2;
  box-shadow: 0 0 2px 2px var(--shadow-color);
  width: 28rem;
  padding: 1.5rem;
  color: var(--grey-text-color);
  position: absolute;
  z-index: 400;
  transform: translatex(120px) translateY(65px);
}

.logo {
  width: 100%;
    display: flex;
    align-items: center;
}

.logo div.brand-logo {
  margin-right: 0.8rem;
  background: no-repeat center/cover url(../images/tv-logo.jpg);
  height: 4rem;
  width: 4rem;
}

.offer p {
  text-align: left;
}

.order-text__black {
  color: black;
  font-weight: 800;
}

.limited-offer, 
.pro, 
.discount-code {
  color: var(--red-color);
}

.discount-code {
  font-weight: 800;
}

div.block {
  height: 2rem;
  width: 10rem;
  background-color: var(--red-color);
}

div p a {
  color: var(--red-color);
  text-decoration: underline;
}

.block-access,
.allow-access {
  flex-direction: column;
  align-items: center;
}

.block-access {
  display: flex;
}

.allow-access {
  display: none ;
}

.block-access hr {
  width: 100%;
  border: solid 0.5px var(--red-color);
  height: 2px;
}

.block-access p,
.allow-access p {
  margin: 7px 0;
}

div#order .cta {
  padding: 0.5rem 1.2rem;
  color: white;
  background-color: var(--red-color);
  border-radius: 16px;
  margin:  10px 0;
}




/*******************************/ 
/************Intro*************/
/*******************************/
#intro {
  box-shadow: 0 3px 3px var(--shadow-color);
  height: 16.5rem;
  border-radius: 20px;
  border-top-left-radius: 0;
  overflow: hidden;
}

.intro-text h2 {
  font-size: 0.8rem;
  margin: 0;
}

.intro-text p {
  font-size: 0.7rem;
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.7rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.carousel-indicators {
  margin: 0.7rem 0;
}

.carousel-indicators button {
  margin-left: 8px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(112, 112, 112, 0.301);
  appearance: none;
  border: none;
}

.carousel-indicators button.active {
  background-color: var(--red-color);
}

article.carousel-item {
  display: none;
  height: 100%;
  width: 100%;
}

.carousel-item.active {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  animation: fade 1.5s;
}

.carousel-img {
  background: no-repeat center/cover url(../images/Image_1.png);
}

/* animation css for carousel children */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn {
  background-color: var(--red-color);
  border: none;
  color: #ffffff;
  box-shadow: 0 2.7px var(--shadow-color);
  width: 6rem;
  height: 1.7rem;
  border-radius: 9px;
}

.btn:hover {
  background-color: rgb(223, 54, 54);
}

.btn:active {
  background-color: var(--red-color);
}

button:focus {
  outline: none;
}

/*******************************/ 
/************Footer*************/
/*******************************/


footer {
  /* padding: 3rem 0 0 0; */
  background-color: var(--red-color);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.contact {
  position: absolute;
  right: 32px;
  top: -1px;
}

address {
  font-style: normal;
}

.contact img {
  height: 1.5rem;
  color: #ffffff;
  margin: 1rem;
}

.footer-nav {
  position: relative;
  /* font-size: 1.2rem; */
  /* font-weight: 500; */
  padding: 0 1rem;
}

.footer-nav:first-of-type {
  /* margin-bottom: 4rem; */
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav .more {
  display: flex;
  justify-content: center;
  /* font-size: 1.3rem; */
  padding: 0;
}

.copywright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ffffff;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav ul li {
  margin-left: 2rem;
}

.footer-nav ul li a {
  color: #ffffff;
  /* font-size: 1.2rem;
  font-weight: 500; */
}

@media (max-width: 780px) {
  #nav-list {
    display: none;
  }

  header {
    height: 160px;
  }

  .topmost-bar {
    display: flex;
    justify-content: space-between;
  }

  .topmost-bar form {
    width: 81%;
  }


  #nav-icon {
    position: static;
  }

  .contact {
    position: static;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

@media (max-width: 650px) {
  .topmost-bar form {
    /* width: 81%; */
  }

  #intro {
    grid-template-columns: 1fr;
}

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav ul {
    flex-direction: column;
  }

  .footer-nav ul li {
    margin: 1rem 0;
  }

  .topmost-bar {
    padding: 0 1rem;
  }
}