main {
    max-width: 33rem;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 4.5rem;
}

main h1 {
    color: black;
    margin: 4.5rem 0;
}

h2, p {
    color: var(--grey-text-color);
    text-align: left;
}

h2 {
    margin: 0;
    margin-bottom: 2.5rem;
}

hr {
    margin: 4.5rem 0 1rem 0;
    border: 2px solid var(--red-color);
}

p a {
    color: var(--red-color);
}

/* p {
    color: var(--grey-text-color);
} */