* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --header-padding: 0 4rem;
  --grey-text-color: rgb(112, 112, 112);
  --red-color: rgb(255, 88, 88);
}

p,
h2,
h2 {
  line-height: 1.5;
}

.content {
  padding-top: 60px;
}

body {
  background-color: rgb(242, 242, 242);
  margin: 0;
  text-align: center;
  width: 100%;
}

main {
  padding: 0 4rem;
  padding-bottom: 20rem;
}

header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
  padding-top: 2rem;
}

.topmost-bar {
  position: relative;
  vertical-align: middle;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "empty search-bar nav-icon";
  align-items: center;
}

.search-bar {
  height: 49px;
  width: 552px;
  max-width: 42rem;
  border-radius: 25px;
  border-color: #dbdbdb;
  border-width: 1px;
  padding: 1rem;
  grid-area: search-bar;
  justify-self: center;
}

.search-bar:focus {
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}

#nav-icon {
  background-color: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  appearance: none;
  position: absolute;
  right: 0;
  grid-area: nav-icon;
  z-index: 500;
  color: var(--grey-text-color);
}

#nav-icon:hover {
  color: var(--red-color);
}

h1 {
  color: var(--red-color);
}

a {
  text-decoration: none;
}

#nav-icon hr {
  border: solid;
  border-width: 1.5px;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: var(--header-padding);
  margin: 0;
  height: 3.1rem;
}

#nav-list {
  border-top: 0.2px solid #dbdbdb;
  color: var(--grey-text-color);
  z-index: 300;
}

.main-nav-list li {
  height: 100%;
  width: 14%;
}

.main-nav-list li:hover,
.main-nav-list li a:hover {
  background-color: var(--red-color);
  color: #ffffff;
}

.main-nav-list li a {
  color: var(--grey-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/************* Side nav  *************/
.side-nav {
  width: 0;
  overflow-x: hidden;
  height: 20rem;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: start;
  text-align: left;
  right: 10rem;
  top: 2rem;
  z-index: 1000;
  transition: 0.5s;
}

.display-nav {
  width: 17rem;
  padding: 1rem 2.5rem;
  border: 0.2px solid #dbdbdb;
  overflow-x: visible;
}

.side-nav a {
  margin: 0.5rem 0;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--grey-text-color);
}

.side-nav a:hover {
  color: var(--red-color);
}

a.side-nav__register,
a.side-nav__login {
  padding: 0 1.3rem;
  width: 100%;
  height: 3rem;
  border-radius: 15px;
}

a.side-nav__register {
  color: #ffffff;
  background-color: var(--red-color);
}

a.side-nav__register:hover {
  border: 1px solid var(--red-color);
  color: var(--red-color);
  background-color: transparent;
}

a.side-nav__login:hover {
  color: #ffffff;
  background-color: var(--red-color);
}

a.side-nav__login {
  border: 1px solid var(--red-color);
  color: var(--red-color);
}

a.side-nav__myaccount svg {
  height: 70%;
  position: relative;
  right: -7rem;
}

button.close-nav-btn {
  width: 6rem;
  height: 4rem;
  background-color: #ffffff;
  border: none;
  position: absolute;
  right: -7.5rem;
  top: 0;
  border: 0.2px solid #dbdbdb;
  color: var(--grey-text-color);
  transition: 0.5s;
}

button.close-nav-btn:hover {
  background-color: var(--red-color);
  color: #ffffff;
}

button.close-nav-btn svg {
  height: 50%;
}

#overlay {
  height: 100%;
  width: 100%;
  z-index: 400;
  transition: 0.5s;
  background-color: rgba(112, 112, 112, 0.055);
}

/************* Intro  *************/
#intro {
  /* padding: 0 10%; */
  /* width: 70%; */
  margin: 3rem 0;
}

.intro-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.intro-text h4 {
  font-size: 0.5rem;
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24rem;
}

.carousel {
  margin-left: 3rem;
  width: 60%;
}

.carousel-indicators {
  list-style: none;
  display: flex;
  position: absolute;

  /* justify-content: space-between; */
}

.carousel-indicators button {
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(112, 112, 112, 0.301);
  /* z-index: -100; */
  appearance: none;
  border: none;
}

.carousel-control img {
  width: 20px;
  /* z-index: -100; */
}

.carousel-indicators button.active {
  background-color: var(--red-color);
}

.carousel-item.active {
  display: flex;
  animation: fade 1.5s;
}

.carousel-item img {
  width: 100%;
}

.carousel-item {
  display: none;
  /* max-width: 650px; */
}

/* animation css for carousel children */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.btn {
  background-color: var(--red-color);
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.16);
}

.btn:hover {
  background-color: rgb(223, 54, 54);
}

button:focus {
  outline: none;
}

.order-btn {
  width: 11rem;
  height: 3rem;
  border-radius: 15px;
}

/************* User access  *************/

#user-access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18rem;
  grid-template-areas: "login register";
  padding: 0 2.5rem;
}

#user-access h2 {
  text-align: left;
  font-size: 1.9rem;
  color: var(--red-color);
}

.login {
  grid-area: login;
}

.register {
  grid-area: register;
}

#user-access .btn {
  width: 13rem;
  height: 4rem;
  border-radius: 15px;
}

.privacy {
  position: absolute;
  right: 0;
}

footer {
  padding: 3rem 0 0 0;
  background-color: var(--red-color);
  color: #ffffff;
  /* text-align: center; */
}

.contact {
  position: absolute;
  right: 25px;
  top: -32px;
}

.contact img {
  height: 2rem;
  color: #ffffff;
  /* background-color: #ffffff; */
  margin: 1rem;
}

.footer-nav {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 4rem;
  /* text-align: center; */
}

.footer-nav:first-of-type {
  margin-bottom: 4rem;
}

.footer-nav .more {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.copywright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ffffff;
}

.footer-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

.footer-nav ul li {
  margin-left: 3rem;
}

.footer-nav ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
}
