.products {
  /* padding: var(--header-padding); */
  margin: 6rem 0;
}

.product-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 1rem;
  row-gap: 3.5rem;
  padding: 0;
}

.product-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 40px;
  border-top-right-radius: 0;
  padding: 2rem 3rem;
  height: 25rem;
  max-width: 380px;
  margin: 0 auto;
}

.product-item img {
  width: 100%;
}

.brand-id {
  /* width: 5.5rem; */
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.brand-id img {
  width: 6.5rem;
  /* height: 9rem; */
  z-index: 100;
}

.brand-id img {
  position: relative;
  left: -13px;
}

.brand-id h3 {
  font-size: 2.2rem;
  color: var(--grey-text-color);
}

.product-list li:last-of-type h3 {
  padding-top: 1rem;
}

.hidden {
  display: none;
}
.product-item h2,
.product-item h3 {
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 800;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
}

.product-illustration {
  margin-top: 20px;
}

.special-offer {
  color: var(--red-color);
}

/************* User Access *************/

#user-access {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-column-gap: 2rem;
  row-gap: 3.5rem;
  color: #ffffff;
  margin: 5rem 0;
}

#user-access h2 {
  text-align: left;
  font-size: 1.9rem;
  margin: 0;
}

.register, .login {
  text-align: left;
  border-radius: 20px;
  padding: 0 0 1.8rem 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 14rem;
  box-shadow: 0 2px 3px 0.2px rgba(112, 112, 112, 0.555);
}

.login {
  border-top-left-radius: 0;
  background-color: rgb(17, 232, 188);
}


.register {
  border-bottom-left-radius: 0;
  background-color: 	rgb(8, 206, 235);
}

#user-access .btn {
  width: 9rem;
  height: 2.2rem;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: none;
  color: var(--red-color);
  margin: 0.8rem 0;
}

#user-access .btn:hover {
  background-color: var(--red-color);
  color: #ffffff;
}

@media (max-width: 380px) {
 .login, .register {
   max-width: 300px;
 }
}